{
    "name": "{{ app_name }}",
    "version": "{{ app_version }}",
    "description": "",
    "main": "index.js",
    "scripts": {
        "start": "node src/index.js",
        "test": "echo \"Error: no test specified\" && exit 1"
    },
    "dependencies": {
        "express": "^4.19.2",
        "cors": "^2.8.5",
        "mysql2": "^3.14.0"
    }
}